@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
}
/******* common style section *******/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-width{
    max-width: 1600px;
    margin: 0 auto;
}
#content-width{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-color{
    background-color: #1A0B2E;
}
.text{
    color: #ffffff9d;
    font-weight: 400;
}
.title{
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
    font-weight: 500;
    background-color: deeppink;
    padding: 12.5px 30px 12.5px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
/****** Nav section style *****/
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
.nav-p{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
}
.wave{
     color: rgba(251, 9, 180, 1);
}
/*********** Audio section style***********/
.audio{
    background-image: url(./assets/hero-bg.png);
    min-height: 760px;    
}
.audio .rounded-shape{
    width: 360px;
    height: 360px;
}
.mic-img{
    position: relative;
    display: flex;
    justify-content: center;
}
.mic-img div{
    margin-top: 70px;
}
.audio .mic{
    width: 116px;
    height: 175px;
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
}
.audio .mic-img span{
    background-color: #00ff88;
    padding: 8px 16px;
    border-radius: 20px;
    color: #1a0b2e;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    left: 887px;
    top: 87px;
    width: 75px;
    height: 38px;
    animation: glow 1s infinite alternate;
}
@keyframes glow{
    from{
        box-shadow: 0 0 5px #00ff88;
    }
    to{
        box-shadow: 0 0 20px #00ff88,
                    0 0 40px #00ff88;
    }
}
/* TechWave */
.TechWave{
   display: flex; 
   flex-direction: column;
   gap: 20px;
   max-width: 550px; 
   min-height: 169px;
   margin: 0 auto;
   margin-top: 40px;
   text-align: center;
}
.tec-btn{
    background-color: #1A0B2E;
    color: #00ff88;
    padding: 12px 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #00ff88;
    font-weight: 700;
}
.button button{
    margin: 10px;
}
/********** About the Podcast style ********/
.About-the-Podcast{
    background-color: #1A0B2E;
    min-height: 500px;
}
.Podcast-title{
    text-align: center;
    max-width: 1200px;
    min-height: 222px;
    margin: 0 auto;
}
.Podcast-title p{
    line-height: 2;
    font-weight: 400;
}
.Podcast-price{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    margin-top: 100px;
}
.Podcast-price span{
    color: #00ff88;
    font-size: 3rem;
}
/******** Why Choose TechWave style **********/
.Why-Choose-TechWave{
    background-color: #230E3D;
}
.Why{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10;
}
.Choose-TechWave .card h4{
    font-size: 1.35rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.Choose-TechWave{
    display: grid;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5"
    ;
    gap: 30px;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}
.Choose-TechWave .card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 10px;
}














